* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/* body {
    max-width: 1200px;
} */

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

header {
    background-image: url("Images/bgk-header.png");
    background-size:cover; 
}

#headerTop {
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
}

#headerNav {
    display: flex;
    justify-content: center;
    align-items: center;
}

#headerNavList {
    list-style: none;
    display: flex;
}

.headerNavListItem {
    padding: 0 1rem;
    margin: 0;
}

#headerBottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem 0    ;
}











#mainVideo {
    background-image: url("Images/bgk-middle.png");
}

#mainTeam {
    background-image: url("Images/bgk-header.png");
}

footer {
    background-image: url("Images/bgk-footer.png");
}